
.container{

background-color: rgb(201, 201, 201);
width: 900px;
height: 1000px;
margin-right: auto;
margin-left: auto;
text-align: center;
    
}
.container .tabel{
   background-color: rgb(117, 151, 151);
   padding-bottom: 20px;
   padding-top: 20px;
   width: 550px;
   margin-left: 175px;
   border-radius: 15px;
    
}

.container .tabel1{
    background-color: rgb(117, 151, 151);
    padding-bottom: 20px;
    padding-top: 20px;
    width: 550px;
    margin-left: 175px;
    border-radius: 15px;
     
 }



 


    table{
        background-color: rgb(251, 251, 251);
        border-radius: 7px;
        border: none;
        border-collapse: collapse;
        text-align: left;
       

        
    
       
        
        
        }
table, tr, td {
    border: none;
    
}
