<h1>List User</h1>
   <div class="container">
   
    <mat-card   *ngFor = "let list of (list| async)">
        <mat-card-content>
            <mat-icon>account_circle</mat-icon>
            <h2>{{list.name}}</h2>
            <span>{{list.position}}</span>
            <span>{{list.addres}}</span>
          
           
           

            <table>
                <tr>
                    <td class="dtl">
                        <a >detail</a>
                    </td>
                    <td>
                        <a >Ubah</a>
                    </td>
                </tr>
            </table>
           
           
        </mat-card-content>
    </mat-card>
   </div>
       



  

