<h1>Payment</h1>
<table>
    <tr *ngFor = "let item of items">
        <td>{{ item.amount }} x {{item.name}}</td>
        <td>Rp. {{item.Harga}}</td>
        <td> <button (click)="removeItem(item)"> Remove</button></td>
     

       
    </tr>
    <tr >
        <ng-template *ngIf="items.length >0 then totalPayment; else noItem"></ng-template>
        <ng-template #totalPayment >
        <td> Total : Rp.{{total}}</td>
    </ng-template>
    <ng-template #noItem >
        <td> no item selected</td>
    </ng-template>
    </tr>
</table>
